/*-- Módulo: Lenguaje de marcas y Sistemas de gestión de la información --*/
/*-- UD 2 Tarea evaluativa 2 (80%). Sitio Web --*/
/*-- Autor: Luis Santiago Hernández Vera, Fecha 21 de noviembre de 2024  --*/

/* Estilo global */
html{
    font-size: 100%;
}

/*Cuerpo de todas las páginas*/
body {
    background:#f5f5f5;
    font-family: 'Poppins', sans-serif;
}

/*----- Estilos generales para el encabezado (header) de todas las páginas -----*/

/* Contenedor principal del encabezado (header) */
.contenedor {
    background: #ffffff;
    margin: 0 auto;
    padding: 0.313rem;
    min-height: 4.375rem;
    display: flex;
    align-items: center;
}

/* Estilos para el logo alineado a la izquierda */
.logo {
    width: 5rem;
    margin-left: 9%;
    border-radius: 0.313rem;
}

/* Estilos para centrar el nombre de la empresa */
.nombre {
    font-family: 'Caveat', cursive;
    font-size: 1.25rem;
    font-weight: bold;
    color: #333;
    text-align: center;
    flex: 1; /* Centraliza el nombre */
}

/* Estilo para la navegación */
.navegacion a {
    margin: 0 0.625rem;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

/* Cambio de color en los enlaces del menú de navegación al pasar el mouse */
.navegacion a:hover {
    color: #0073e6; /* Cambia el color al pasar el mouse */
}

/*----- Estilos generales para el pie de página (footer) en todas las páginas -----*/

/* Estilos generales para el footer: fondo oscuro, texto blanco y centrado */
footer {
    background-color: #1e1e2e; 
    color: white;
    text-align: center;
    padding: 1.25rem;
}

/* Contenedor de contacto e íconos */
.contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.625rem; /* Define el espacio entre los elementos del contenedor .contacto */
}

/* Texto "Contáctanos" */
.enlace-contacto a {
    font-size: 1.1rem;
    text-decoration: none;
    color:#ffffff;
    transition: transform 0.3s;
}

/* Cambia de color y subraya el enlace de contáctanos */
.enlace-contacto a:hover {
    text-decoration: underline;
    color: red;
}

/* Alineación de los iconos en una fila */
.redes-sociales {
    display: flex;
    gap: 0.938rem;
}

/* Íconos de redes sociales */
.redes-sociales a {
    display: inline-block;
    color: #1e1e2e; /* Color oscuro */
    background-color: #f1f1f1; /* Fondo claro para íconos */
    border-radius: 50%;
    padding: 0.625rem;
    font-size: 1.4rem; /* Tamaño del icono */
    transition: transform 0.3s;
}

/* Efecto de hover para agrandar un poco el icono */
.redes-sociales a:hover {
    transform: scale(1.2);
}

/*----- Estilos generales para nav y aside en todas las páginas, y main en las páginas productos y noticias -----*/
nav,#principal-productos main,#principal-noticias main, aside {
	display: flex;
	border-radius: 0.313rem;
	padding: 1.563rem;
	margin: 1.563rem;
    flex-direction: column;
    flex-basis: 22%;
    align-items: center;
    min-height: 28rem;

    line-height: 1.6; /* Espaciado entre líneas para mejorar legibilidad */
    margin-bottom: 0.8rem; /* Espaciado entre párrafos */
    text-align: justify; /* Justifica el texto */
}  

/*----- Estilos para la página de inicio (index) -----*/

/*----- Estilos para el contenedor principal (main) de la página de inicio -----*/
#principal-index {
    background-color: rgba(0, 154, 183, 0.6); /* 0.6 representa el 60% de opacidad */
	display: flex;
    width: 100%;
}

/* Estilos para que el texto rodee a la imagen. Propiedad float */
.imagen-pagina-principal {
	width: 34.375rem;
	float: left;
    margin: 1.25rem;
    margin-left: 20%;
    border-radius:0.313rem;
    border: 0.313rem solid ;
}

/* Estilos para los párrafos en las páginas index y seguridad */
#estilo-parraf-index-seguridad {
    max-width: 75rem; /* Controla el ancho del texto para evitar líneas demasiado largas */
    margin: 0 auto; /* Centra el artículo en la página */
    line-height: 1.875rem;
}

/* Se aplica en las páginas index y seguridad */
#estilo-parraf-index-seguridad p {
    line-height: 1.7; /* Espaciado entre líneas para mejorar legibilidad */
    margin-bottom: 0.8rem; /* Espaciado entre párrafos */
    text-align: justify; /* Justifica el texto */
}

/*----- Estilos para la página de noticias -----*/

/*Estilos de Imagen multimedia de fondo con título superpuesto al frente en la página noticias*/
#noticias-portada {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../imagenes/Noticias.png");
    background-position: center;   
    color: #ffffff;
}

/*----- Estilos para el contenedor (div) de nav, main y aside en la página de noticias -----*/
#principal-noticias {
    display: flex;
	flex-direction: row;
    justify-content: center;
}

/* Estilos del contenedor nav */
#nav-noticias {
    background-image: url("../imagenes/Alarma5.png");
    color:#ffffff;
    background-size: cover; /* La imagen ocupa todo el contenedor */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    font-weight: bold;
}

/* Estilos del contenedor main */
#main-noticias {
   background-image: url("../imagenes/coche\ con\ parlantes4.png");
    color:#ffffff;
    font-weight: bold;
}

/* Estilos del contenedor aside */
#aside-noticias {
    background-image: url("../imagenes/coche\ frenos-disco.png");
    color:#ffffff;
}

/* Estilos para el enlace "Seguir leyendo" en la página de noticias */
.estilo-enlace-noticias {
    text-decoration: none;  
    color: #ffffff;  
    border: solid 0.063rem;
    border-radius: 0.313rem;
    width: 9.375rem;
    text-align: center;
    margin-left: 50%;
}

/*Cambia el color de fondo del enlace al pasar el cursor sobre él (hover)*/
#principal-noticias a:hover{
    background:rgba(4, 197, 30, 1);    
}

/*----- Estilos para la página de contacto -----*/

/* Imagen de fondo multimedia con título superpuesto en la página de contacto */
#contacto-portada {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../imagenes/Contactanos.png");
    background-position: center;   /* Centra la imagen */
    color: #ffffff;
}

/* Ajustes generales de márgenes y espaciado en el formulario de contacto */
#forma-contactanos{
    background: rgb(235, 231, 231);
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 3%;
    margin-bottom: 2%;
    padding-left: 2%;
    min-height: 26.25rem;
}

 /* General para todos los inputs, selects y textarea */
 input, select, textarea {
    border-radius: 0.625rem; 
    border: 0.063rem solid #950f0f; 
    padding: 0.625rem; 
    font-size: 1rem; 
    box-sizing: border-box; /* Evita que el padding aumente el tamaño total */
}

/* Para el botón de envío */
input[type="submit"] {
    border-radius: 1.25rem; 
    background-color: #4CAF50; 
    color: white; 
    border: none; /* Elimina el borde predeterminado */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
}

/* Hover en el botón de envío */
input[type="submit"]:hover {
    background-color: #45a049; /* Color más oscuro al pasar el cursor */
}

/****** Comienza la página productos********/

/* Imagen de fondo multimedia con título superpuesto en la página de productos */
#portada-productos {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../imagenes/Productos.png");
    background-position: center;   
    color: #ffffff;
}

/* Ajustes para los contenedores de nav, main y aside en la página de productos */
#principal-productos {
    display: flex;
    justify-content: center;
}

/* Establece el color de fondo para los contenedores nav, main y aside */
.produtos{
    background-color: rgba(0, 154, 183, 0.6); /* 0.8 representa el 80% de opacidad */
}

/*Establece las medidas de las imagenes de los productos*/
.imagen-productos {
	width: 100%; 
    height: auto;
}

/* Establece la opacidad inicial y la transición suave para las imágenes dentro de los enlaces */
a img {
    opacity: 1; /* Opacidad inicial */
    transition: opacity 0.3s ease; /* Transición suave */
}

/* Aplica efecto de opacidad al pasar el ratón sobre las imágenes dentro de los enlaces (hover) */
a img:hover {
    opacity: 0.6; /* Opacidad al hacer hover */
}

/******* Comienza la página de seguridad***********/


/*Estilos para el contenedor principal de la sección de seguridad*/
#principal-seguridad {
    background-color: rgba(0, 154, 183, 0.6); /* Color de fondo con 60% de opacidad */
    display: flex;
    margin: 0 auto;
    align-items: center; /* Centra los elementos verticalmente */
    flex-basis: 100%; /* Asegura que el contenedor ocupe todo el espacio disponible */
}

/* Estilos para la imagen dentro de la sección de seguridad (flotante a la izquierda) */
.imagen-seguridad {
    width: 34.375rem;
    float: left; /* Hace que la imagen flote a la izquierda */
    margin: 1.25rem;
    margin-left: 5%;
    border-radius: 0.313rem; 
    border: solid 0.313rem; 
}

/* Estilos para la imagen con posición absoluta dentro de la sección de seguridad */
.imagen-posicion-absoluta {
    position: absolute; /* Posiciona la imagen de manera absoluta en relación al contenedor */
    top: 7.5rem; 
    right: 1.875rem; 
    width: 15.625rem;
    height: auto; /* Mantiene la proporción de la imagen */
    border-radius: 0.313rem; 
    border: solid 0.063rem; 
}

/* Estilos para el contenedor fijo de contacto (flotante en la pantalla) */
.contactanos-fixed {
    position: fixed; /* Fija el contenedor en la pantalla, independientemente del desplazamiento */
    bottom: 6.875rem; 
    right: 1rem; 
    height: 11.25rem; 
    width: 25rem; 
    background-image: url("../imagenes/Contactanos-2.png"); 
    background-size: cover; /* Hace que la imagen cubra todo el contenedor */
    border-radius: 0.313rem; 

    display: flex; 
    justify-content: center; 
    align-items: center; 
}



